.page{
    font-family: Consolas, monospace;
    font-size: 15px;
}
.mt-5 table{
    width: 100%;
    border-collapse: collapse;
}
.mt-5 th, .mt-5 td{
    padding: 8px;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
}
.button-group .equal-size {
    width: 120px; /* Đặt cùng chiều rộng cho các nút */
    text-align: center; /* Canh giữa nội dung nút */
    padding: 10px 0; /* Chiều cao đồng nhất */
    margin-right: 20px; /* Khoảng cách giữa các nút */
}

.button-group .equal-size:last-child {
    margin-right: 0; /* Bỏ khoảng cách cho nút cuối cùng */
}